{% extends 'website/base_scottish.html' %}


{% block nome %}
    <h1 id="titulo_site">Aberdeen 🔴</h1>
{% endblock nome %}


{% block main %}

    <h2>Sobre o Aberdeen:</h2>
    <p id="intro" style="color: white;">O Aberdeen Football Club (também conhecidos como "The Dons", "The Dandies" ou
        "The Reds" (🔴)) é um clube profissional localizado em Aberdeen, Escócia. O clube é o terceiro mais vitorioso da
        Escócia.


    </p>
    <section>
        <div>
            <p style="color: rgb(0, 0, 0);">Pittodrie Stadium</p>
            <a> {% load static %} <img src="{% static "website/img/aberdeen-stadium.png" %}" alt="aberdeen-stadium"
                                       style="width:800px; height:400px"></a>
        </div>

    </section>
    <section id="titulos">
        <p style="color: white;">Os títulos mais importantes ganhos até ao momento.</p>
    </section>
    <section id="tabela">
        <style>
            table, th, td {
                border: 1px solid rgb(255, 255, 255);
            }

            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
        <table>
            <thead>
            <tr>
                <th colspan="1">Competições</th>
                <th colspan="1" rowspan="3">Títulos</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>UEFA Champions League</td>
                <td> 0x</td>
            </tr>
            <tr>
                <td>UEFA Europa League</td>
                <td> 0x</td>
            </tr>
            </tbody>
            <tfoot>

            <tr>
                <td>Scottish Premier League</td>
                <td>4x</td>
            </tr>

            <tr>
                <td>Scottish Cup</td>
                <td>7x</td>

            <tr>
                <td>Scottish League Cup</td>
                <td> 6x</td>
            </tr>

            </tfoot>
        </table>

    </section>
{% endblock main %}