{% extends 'website/base_premiere.html' %}

{% block nome %}
    <h1 id="titulo_site">Arsenal 🔫</h1>

{% endblock nome %}

{% block main %}
    <h2>Sobre o Arsenal:</h2>
    <p id="intro" style="color: white;">Arsenal Football Club é um clube de futebol conhecido como The gunners(🔫),
        fundado e baseado em Londres, capital da Inglaterra.
        é o único a ganhar a Premier League de maneira invicta, sendo também detentor do recorde de maior período de
        invencibilidade na liga nacional.
    </p>
    <section>
        <div>
            <p style="color: rgb(0, 0, 0);">Emirates Stadium</p>
            <a> {% load static %} <img src="{% static "website/img/emirates.png" %}" alt="emirates-stadium"
                                       style="width:800px; height:400px"></a>


        </div>

    </section>
    <section id="titulos">
        <p style="color: white;">Os títulos mais importantes ganhos até ao momento.</p>
    </section>
    <section id="tabela">
        <style>
            table, th, td {
                border: 1px solid rgb(255, 255, 255);
            }

            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
        <table>
            <thead>
            <tr>
                <th colspan="1">Competições</th>
                <th colspan="1" rowspan="3">Títulos</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>UEFA Champions League</td>
                <td> 0x</td>
            </tr>
            <tr>
                <td>UEFA Europa League</td>
                <td>0x</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Premier League</td>
                <td>13x</td>
            </tr>

            <tr>
                <td>FA Cup</td>
                <td>14x</td>


            </tfoot>
        </table>

    </section>
{% endblock main %}