{% extends 'website/base_premiere.html' %}

{% block nome %}
    <h1 id="titulo_site">Aston Villa Football Club 🦁</h1>

{% endblock nome %}

{% block main %}
    <h2>Sobre o Aston Villa:</h2>
    <p id="intro" style="color: white;">O Aston Villa Football Club (por vezes apelidado de Villa, The Villa, The
        Villans e The Lions(🦁)) é um clube de futebol inglês sediado na cidade de Birmingham, que atualmente joga a
        Premier League.
        Fundado em 21 de novembro de 1874</p>
    <section>
        <div>
            <p style="color: rgb(0, 0, 0);">Villa Park</p>
            <a> {% load static %} <img src="{% static "website/img/aston-villa-stadium.png" %}" alt="aston-villa-stadium"
                                       style="width:800px; height:400px"></a>


        </div>

    </section>
    <section id="titulos">
        <p style="color: white;">Os títulos mais importantes ganhos até ao momento.</p>
    </section>
    <section id="tabela">
        <style>
            table, th, td {
                border: 1px solid rgb(255, 255, 255);
            }

            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
        <table>
            <thead>
            <tr>
                <th colspan="1">Competições</th>
                <th colspan="1" rowspan="3">Títulos</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>UEFA Champions League</td>
                <td> 1x</td>
            </tr>
            <tr>
                <td>UEFA Europa League</td>
                <td> 0x</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Premier League</td>
                <td>7x</td>
            </tr>

            <tr>
                <td>FA Cup</td>
                <td>7x</td>


            </tfoot>
        </table>

    </section>
{% endblock main %}