{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anonimo1 & Anonimo2">
    <meta name="keywords" content="soccerNET">
    <meta name="description" content="Website sobre futebol">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'website/img/soccer_site.ico' %}" type="image/x-icon">
    <link rel='stylesheet' href="{% static 'website/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya Telivigala">

    <title>Soccer Net</title>

    {% block style_head %}
    {% endblock style_head %}

</head>
<body>

<header>

    {% block nome %}
    {% endblock nome %}

    <hr class="separador">
    <nav class="topnav">

        <a id="left1" href="{% url 'website:index' %}">Página Inicial</a>
        {% if not request.user.is_authenticated %}
            <a id="right1" href="{% url 'website:login' %}">Login</a>
        {% else %}
            <a id="right1" href="{% url 'website:logout' %}">Logout</a>
        {% endif %}
        <a id="right1" href="{% url 'website:info' %}">Contactos</a>
        <a id="right1" href="{% url 'website:critica' %}">Comentários</a>
        <a id="right1" href="{% url 'website:spa' %}">SPA</a>
        <a id="left1" href="{% url 'website:wordcloud' %}">Wordcloud</a>
        <a id="left1" href="{% url 'website:link' %}">Links</a>
        <a id="left1" href="{% url 'website:quizz' %}">Quizz</a>
        <a id="right1" href="{% url 'website:about' %}">Sobre o Website</a>
    </nav>
</header>
<hr class="separador">

{% block nav_teams %}
{% endblock nav_teams %}

<main>
    {% block main %}
    {% endblock main %}
</main>


<footer>
    <p>Anonimo1 & Anonimo2</p>
</footer>
</body>
</html>