{% extends 'website/base.html' %}

{% block nav_teams %}

<nav id="menuSticky">

        <a href="{% url 'website:celtic' %}"  > {% load static %} <img src="{% static "website/img/celtic.png" %}" alt="celtic" style="width:80px; height:80px" /></a>
        <a href="{% url 'website:rangers' %}" >  {% load static %} <img src="{% static "/website/img/rangers.png" %}" alt="rangers" style="width:80px; height:80px"></a>
        <a href="{% url 'website:hiberian' %}" > {% load static %} <img src="{% static "/website/img/hiberian.png" %}" alt="hiberian" style="width:80px; height:80px"></a>
        <a href="{% url 'website:aberdeen' %}" >  {% load static %} <img src="{% static "/website/img/aberdeen.png" %}" alt="aberdeen" style="width:80px; height:80px"></a>
        <a href="{% url 'website:livingston' %}" >  {% load static %} <img src="{% static "/website/img/livingston.png" %}" alt="livingston" style="width:80px; height:80px"></a>
        <a href="{% url 'website:rossCountry' %}" >  {% load static %} <img src="{% static "/website/img/ross-county.png" %}" alt="ross-county" style="width:80px; height:80px"></a>
</nav>

{% endblock nav_teams %}

