{% extends 'website/base.html' %}

{% block nav_teams %}

    <nav id="menuSticky">

        <a href="{% url 'website:manUnited' %}"> {% load static %} <img src="{% static "website/img/manunited.png" %}"
                                                                        alt="man-united"
                                                                        style="width:70px; height:70px"></a>
        <a href="{% url 'website:manCity' %}">{% load static %} <img src="{% static "website/img/mancity.png" %}"
                                                                     alt="man-city"
                                                                     style="width:70px; height:70px"></a>
        <a href="{% url 'website:spurs' %}"> {% load static %} <img src="{% static "website/img/spurs.png" %}"
                                                                    alt="spurs"
                                                                    style="width:70px; height:70px"></a>
        <a href="{% url 'website:newcastle' %}"> {% load static %} <img src="{% static "website/img/newcastle.png" %}"
                                                                        alt="newcastle"
                                                                        style="width:70px; height:70px"></a>
        <a href="{% url 'website:liverpool' %}"> {% load static %} <img src="{% static "website/img/liverpool.png" %}"
                                                                        alt="liverpool"
                                                                        style="width:70px; height:70px"></a>
        <a href="{% url 'website:leicester' %}"> {% load static %} <img src="{% static "website/img/leicester.png" %}"
                                                                        alt="leicester"
                                                                        style="width:70px; height:70px"></a>
        <a href="{% url 'website:crystalPalace' %}"> {% load static %} <img
                src="{% static "website/img/crystal-palace.png" %}"
                alt="crystal-palace"
                style="width:70px; height:70px"></a>
        <a href="{% url 'website:westHam' %}"> {% load static %} <img src="{% static "website/img/west-ham.png" %}"
                                                                      alt="west-ham" style="width:70px; height:70px"></a>
        <a href="{% url 'website:chelsea' %}"> {% load static %} <img src="{% static "website/img/chelsea.png" %}"
                                                                      alt="chelsea"
                                                                      style="width:70px; height:70px"></a>
        <a href="{% url 'website:everton' %}"> {% load static %} <img src="{% static "website/img/everton.png" %}"
                                                                      alt="everton"
                                                                      style="width:70px; height:70px"></a>
        <a href="{% url 'website:astonVilla' %}"> {% load static %} <img
                src="{% static "website/img/aston-villa.png" %}"
                alt="aston-villa"
                style="width:70px; height:70px"></a>
        <a href="{% url 'website:arsenal' %}"> {% load static %} <img src="{% static "website/img/arsenal.png" %}"
                                                                      alt="arsenal"
                                                                      style="width:70px; height:70px"></a>
        <a href="{% url 'website:leeds' %}"> {% load static %} <img src="{% static "website/img/leeds.png" %}"
                                                                    alt="leeds"
                                                                    style="width:70px; height:70px"></a>
        <a href="{% url 'website:southampton' %}"> {% load static %} <img
                src="{% static "website/img/southampton.png" %}"
                alt="southampton"
                style="width:70px; height:70px"></a>
        <a href="{% url 'website:sheffield' %}"> {% load static %} <img src="{% static "website/img/sheffield.png" %}"
                                                                        alt="sheffield"
                                                                        style="width:70px; height:70px"></a>
        <a href="{% url 'website:burnley' %}"> {% load static %} <img src="{% static "website/img/burnley.png" %}"
                                                                      alt="burnley"
                                                                      style="width:70px; height:70px"></a>
        <a href="{% url 'website:wolves' %}"> {% load static %} <img src="{% static "website/img/wolves.png" %}"
                                                                     alt="wolves"
                                                                     style="width:70px; height:70px"></a>
        <a href="{% url 'website:brighton' %}"> {% load static %} <img src="{% static "website/img/brighton.png" %}"
                                                                       alt="brighton" style="width:70px; height:70px"></a>
        <a href="{% url 'website:westBromwich' %}"> {% load static %} <img
                src="{% static "website/img/west-brom.png" %}"
                alt="westBrom"
                style="width:70px; height:70px"></a>
        <a href="{% url 'website:fulham' %}"> {% load static %} <img src="{% static "website/img/fullham.png" %}"
                                                                     alt="fullham"
                                                                     style="width:70px; height:70px"></a>


    </nav>
{% endblock nav_teams %}
