{% extends 'website/base.html' %}


{% block nome %}
    <h1 id="titulo_site">Deixe a sua opinião</h1>

{% endblock nome %}

{% block main %}
    <h3>Para poder deixar uma crítica à nossa página tem de preencher todos os parâmetros abaixo apresentados</h3>

    <section>
        <form action="" method="POST" autocomplete="on">
            {% csrf_token %}
            {{ form.as_p }}
            <fieldset style="border-color: black;">
                <legend>Preencha os seguintes campos:</legend>


                <label for="critica"></label>
                <textarea rows="5" cols="60"
                          placeholder="⚠️ Atenção: A crítica que vai fazer, tem de ser construtiva e tem de ter bases, no qual se baseou para a escrever, para que num futuro possamos melhorar o site. Obrigado."></textarea>

                <br><br>

                <p style="color: #bbccde">De 0-10 quão certa é que acha que a informação do site é?
                    <input type="range" id="vol0" name="vol0" min="0" max="10">
                    <output name="x0" for="vol0"></output>
                    <br>
                </p>

                <p style="color: #bbccde">De 0-10 qual a probabilidade de recomendar o site a um amigo seu?
                    <input type="range" id="vol1" name="vol1" min="0" max="10">
                    <br>
                </p>
                <input type="submit" value="Submeter Dados">

            </fieldset>
        </form>

    <br>
    <br>
    </section>
{% endblock main %}
