{% extends 'website/base.html' %}


{% block nome %}
    <h1 id="titulo_site">Deixe a sua opinião</h1>

{% endblock nome %}

{% block main %}
    <h3>Para poder deixar uma crítica à nossa página tem de preencher todos os parâmetros abaixo apresentados</h3>

    <section>
        <form action="" method="POST" autocomplete="on">
            {% csrf_token %}
            {{ form.as_p }}
            <fieldset style="border-color: black;">
                <legend>Preencha os seguintes campos:</legend>

                <div id="opinion_text">
                    {{ formOp.as_p}}
                </div>
                <input type="submit" value="Submeter Dados">

            </fieldset>
        </form>

    <br>
    <br>
    </section>
{% endblock main %}
