
 {% extends 'website/base_premiere.html' %}

{% block nome %}
            <h1 id="titulo_site">Crystal Palace Football Club 🦅</h1>

{% endblock nome %}

{% block main %}
        <h2>Sobre o Crystal Palace:</h2>
        <p id="intro"style="color: white;">O Crystal Palace Football Club é uma equipe de futebol profissional da Inglaterra, da zona sul de Londres, sediado em Croydon e fundado em 10 de setembro de 1905
            Tem como seu estádio o Selhurst Park, na capital inglesa, com capacidade para 26.047 pessoas. A actual alcunha da equipa é The Eagles (🦅).
        </p>
    <section>
        <div>     
            <p style="color: rgb(0, 0, 0);">Selhurst Park</p>
            <a> {% load static %} <img src="{% static "website/img/Selhurst Park.png" %}" alt="old-trafford" style="width:800px; height:400px"></a>

        </div>
        
    </section>
    <section id="titulos">
    <p style="color: white;">Os títulos mais importantes ganhos até ao momento.</p>
    </section>
    <section id="tabela">
        <style>
            table, th, td {
              border: 1px solid rgb(255, 255, 255);
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
            </style>
            <table>
                <thead>
                  <tr>
                    <th colspan ="1">Competições</th>
                    <th colspan ="1" rowspan = "3">Títulos</th>
               
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>UEFA Champions League</td>
                    <td> 0x</td>
                  </tr>
                  <tr>
                    <td>UEFA Europa League</td>
                    <td> 0x</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                  <td>Premier League</td>
                  <td>0x</td>
                  </tr>
            
                  <tr>
                    <td>FA Cup</td>
                    <td>0x</td>
             
                 
               
                </tfoot>
              </table>
              
    </section>
{% endblock main %}
