{% extends 'website/base.html' %}

{% block style_head %}
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button:hover{
            color: black;
        }

        .buttonCancel {
            background-color: #d9e00d;
            color: black;
        }

        .buttonDelete {
            background-color: red;
            color: black;
        }
    </style>


{% endblock style_head %}

{% block nome %}
    <h1 id="titulo_site">Contactos - Editar</h1>

{% endblock nome %}

{% block main %}

    <h3>Contacto</h3>
    <form action="{% url 'website:edita' user_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'website:index' %}" role="button" class="button buttonCancel">Cancelar</a>
        <input type="submit" value="Gravar" class="button buttonSave">
        <a href="{% url 'website:apaga' user_id %}" role="button" class="button buttonDelete">Apagar</a>


    </form>

{% endblock %}