{% extends 'website/base.html' %}

{% block style_head %}
    <style>
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 70px;
            text-align: center;
            text-decoration: none;
            margin: 5px 5px;
            border-radius: 50%;
            animation: glowing 1300ms infinite;
        }

        .fa-twitter {
            color: white;

        }

        .fa-facebook {
            color: white;

        }


        .fa-google {
            color: white;

        }

        .fa-instagram {
            color: white;

        }
    </style>
{% endblock style_head %}


{% block nome %}

    <h1 id="titulo_site">Contactos</h1>

{% endblock nome %}

{% block main %}
    {% if not request.user.is_authenticated %}
        <script>
            alert('Para editar contactos tem que fazer login!')
        </script>
    {% endif %}

    <h2>Algumas formas de nos contactarem:</h2>

    <p class="fa fa-twitter"></p>
    <p class="fa fa-facebook"></p>
    <p class="fa fa-instagram"></p>
    <p class="fa fa-google"></p>

    <p hidden>Nao temos contas ainda para fazer referencias, mas em breve poderá ser possível</p>

    {% for user in users_details %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'website:edita' user.id %}" class="btn btn-warning  btn-sm" style="float: right; margin-right: 10px">
                    Editar utilizador -> {{ user.name }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock main %}