{% extends 'website/base_premiere.html' %}

{% block nome %}
    <h1 id="titulo_site">Brighton & Hove Albion Football Club 🦚</h1>

{% endblock nome %}

{% block main %}
    <h2>Sobre o Leeds:</h2>
    <p id="intro" style="color: white;">Leeds United Football Club ou simplesmente Leeds United conhecidos por The
        Peacocks(🦚), é um clube de futebol inglês, com sede em Leeds, na região de Yorkshire.

        O Leeds foi fundado em 1919, e a sua casa é o estádio Elland Road.</p>
    <section>
        <div>
            <p style="color: rgb(0, 0, 0);">Elland Road</p>
            <a> {% load static %} <img src="{% static "website/img/Elland-Road.png" %}" alt="leeds-stadium"
                                       style="width:800px; height:400px"></a>
        </div>

    </section>
    <section id="titulos">
        <p style="color: white;">Os títulos mais importantes ganhos até ao momento.</p>
    </section>
    <section id="tabela">
        <style>
            table, th, td {
                border: 1px solid rgb(255, 255, 255);
            }

            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
        <table>
            <thead>
            <tr>
                <th colspan="1">Competições</th>
                <th colspan="1" rowspan="3">Títulos</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>UEFA Champions League</td>
                <td> 0x</td>
            </tr>
            <tr>
                <td>UEFA Europa League</td>
                <td> 0x</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Premier League</td>
                <td>3x</td>
            </tr>

            <tr>
                <td>FA Cup</td>
                <td>1x</td>


            </tfoot>
        </table>

    </section>
{% endblock main %}
