{% extends 'website/base.html' %}

{% block nome %}
    <h1 id="titulo_site">Soccer Net</h1>
{% endblock nome %}

{% block main %}

        <h2>Scottish Premier League</h2>
        <p id="intro">Scottish Premier League, é a primeira liga da Escócia. A Scottish Premier League é atualmente a 10º no ranking de ligas europeias da UEFA. Esta liga foi fundada em 1998</p>
        <div class="flexbox">
            <div>
                <a href="{% url 'website:celtic' %}" > {% load static %}
                    <img src="{% static "website/img/celtic.png" %}" alt="celtic" style="width:150px; height:150px" /></a>


            </div>

            <div>
                <a href="{% url 'website:rangers' %}"> {% load static %} <img src="{% static "website/img/rangers.png" %}" alt="rangers" style="width:150px; height:150px" /></a>
            </div>

            <div>

                <a href="{% url 'website:hiberian' %}"> {% load static %} <img src="{% static "website/img/hiberian.png" %}" alt="hiberian" style="width:150px; height:150px" /></a>

            </div>


            <div>

                <a href="{% url 'website:aberdeen' %}"> {% load static %} <img src="{% static "website/img/aberdeen.png" %}" alt="aberdeen" style="width:150px; height:150px" /></a>
                
        
            </div>

            <div>

                <a href="{% url 'website:livingston' %}"> {% load static %} <img src="{% static "website/img/livingston.png" %}" alt="livingston" style="width:150px; height:150px" /></a>
                
        
            </div>

            <div>

                <a href="{% url 'website:rossCountry' %}"> {% load static %} <img src="{% static "website/img/ross-county.png" %}" alt="rossCountry" style="width:150px; height:150px" /></a>

            </div>

        </div>


    <section>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XZPld3iRq1c" title="Video sobre a SPL"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>

{% endblock main %}
