{% extends 'website/base_premiere.html' %}

{% block nome %}
    <h1 id="titulo_site">Liverpool 🎶</h1>

{% endblock nome %}

{% block main %}
    <h2>Sobre o Liverpool:</h2>
    <p id="intro" style="color: white;">O Liverpool Football Club ou L.F.C. é um clube de futebol, com sede na cidade de
        Liverpool, Noroeste da Inglaterra.

        Fundado em 1892, ingressou na Football League no ano seguinte e desde então atua no Anfield Road. Seu uniforme,
        que originalmente adotava camisas vermelhas e calções brancos, é todo vermelho desde 1965. O lema do clube é
        "You'll Never Walk Alone"(🎶)</p>
    <section>
        <div>
            <p style="color: rgb(0, 0, 0);">Anfield</p>
            <a> {% load static %} <img src="{% static "website/img/anfield.png" %}" alt="anfield"
                                       style="width:800px; height:400px"></a>
        </div>

    </section>
    <section id="titulos">
        <p style="color: white;">Os títulos mais importantes ganhos até ao momento.</p>
    </section>
    <section id="tabela">
        <style>
            table, th, td {
                border: 1px solid rgb(255, 255, 255);
            }

            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
        <table>
            <thead>
            <tr>
                <th colspan="1">Competições</th>
                <th colspan="1" rowspan="3">Títulos</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>UEFA Champions League</td>
                <td> 4x</td>
            </tr>
            <tr>
                <td>UEFA Europa League</td>
                <td> 0x</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Premier League</td>
                <td>19x</td>
            </tr>

            <tr>
                <td>FA Cup</td>
                <td>7x</td>


            </tfoot>
        </table>

    </section>
{% endblock main %}
