{% extends 'website/base.html' %}

{% block style_head %}


    <script src="../../javascript/spa.js"></script>
{% endblock style_head %}

{% block nome %}
    <h1 id="titulo_site">Single Page</h1>

{% endblock nome %}

{% block main %}

    <h1>Bem vindo à Single Page</h1>
    <button data-page="page1">Page 1</button>
    <button data-page="page2">Page 2</button>
    <button data-page="page3">Page 3</button>

    <div id="page1">
        <h1>This is page 1</h1>
    </div>
    <div id="page2">
        <h1>This is page 2</h1>
    </div>
    <div id="page3">
        <h1>This is page 3</h1>
    </div>
{% endblock main %}